* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Urbanist;
}

:-moz-selection {
    color: rgba(255, 255, 255);
    background: #dd5e4a94;
    -webkit-text-fill-color: rgba(255, 255, 255);
}

::selection {
    -webkit-text-fill-color: rgba(255, 255, 255);
    background: #dd5e4a94;
    color: rgba(255, 255, 255);
}

h1,
h2,
h3,
p,
a,
li {
    line-height: 150%;
}

p {
    margin: 0;
    color: #3F444E;
}

h1 {
    font-size: calc(3rem + 1.5vw);
    font-weight: 500;
    background: linear-gradient(79.48deg, #FFFFFF 28.71%, #B44F3F 74.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-family: Ms Madi;
    font-size: calc(54px + 1.5vw);
    font-weight: 500;
    text-align: left;
    line-height: 100%;
}

h2 {
    font-size: 42px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.navbar-shadow {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.rms-logo {
    font-family: Pacifico;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    padding-left: 10px;
}

.benefit-card {
    opacity: 0.9;
    transition: all 0.3s linear;
}
.benefit-card:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.benefit-card:hover .card {
    border: 1px solid #FF4747;
    transition: all 0.3s linear;
}

.feature-card {
    transition: transform 0.3s linear;
}

.feature-card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    border-top: 2px solid #FF4747;
}
.error {
    color: #FF4747;
    font-size: 14px;
    padding-top: 5px;
}
section a {
    font-size: 20px !important;
}
.carousel-danger .carousel-indicators button {
    background-color: #FF4747;
}

.carousel-container {
    height: 75vh;
}

.carousel-img {
    width: 100%;
    height: 400px;
}

.carousel p {
    font-size: 22px;
}

.carousel li {
    font-size: 22px;
}

.section-content {
    font-size: 24px;
    width: 96%;
    margin: auto;
    font-weight: 400;
    line-height: 150%;
}

.blob-items {
    height: fit-content;
    width: 100%;
    margin: auto;
    gap: 24px;
} 

.blob-items::after {
    content: "";
    height: 70%;
    width: 50%;
    background-image: url(../assets/images/traditional_vs_rms.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 48%;
    transform: translate(-50%, 0%);
}

.blob-items .blob-item-row {
    height: fit-content;
} 

.blob-items p {
    padding: 12px 10px;
    width: 186px;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;   
    border-radius: 18px;
    color: rgba(0, 0, 0, 0.8);
} 
.blob-items p::after {
    content: "";
    position: absolute;
    display: inline-block;
    transform-origin: bottom center;
    height: 50%;
    width: 18%;
    clip-path: polygon(48% 0, 0 100%, 75% 100%);
} 


.blob-items #blob-item-row-1 {
    gap: 5%;
} 
#blob-content-row-1_1 {
    background-color: #D6F3FF;
}
#blob-content-row-1_1::after {
    bottom: 6%;
    rotate: 130deg;
    background-color: #D6F3FF;
}
#blob-content-row-1_2 {
    background-color: #C8FFF2;
}
#blob-content-row-1_2::after {
    bottom: 12%;
    rotate: 225deg;
    background-color: #C8FFF2;
}


.blob-items #blob-item-row-2 {
    padding: 0 6%;
}
#blob-content-row-2_1 {
    background-color: #E2FFE7;
}
#blob-content-row-2_1::after {
    bottom: 50%;
    left: 86%;
    rotate: 108deg;
    background-color: #E2FFE7;
}
#blob-content-row-2_2 {
    background-color: #FFDCDC;
} 
#blob-content-row-2_2::after {
    bottom: 12%;
    rotate: 225deg;
    background-color: #FFDCDC;
}


.blob-items #blob-item-row-3 {
    gap: 24%;
} 
#blob-content-row-3_1 {
    background-color: #DFDFFC;
}
#blob-content-row-3_1::after {
    bottom: 50%;
    left: 86%;
    rotate: 108deg;
    background-color: #DFDFFC;
}
#blob-content-row-3_2 {
    background-color: #FFEFD0;
} 
#blob-content-row-3_2::after {
    bottom: 50%;
    right: 86%;
    rotate: 242deg;
    background-color: #FFEFD0;
}


.blob-items #blob-item-row-4 {
    gap: 50%;
} 
#blob-content-row-4_1 {
    background-color: #F7F8E1;
}
#blob-content-row-4_1::after {
    bottom: 40%;
    left: 86%;
    rotate: 75deg;
    background-color: #F7F8E1;
}
#blob-content-row-4_2 {
    background-color: #E2F2F3;
} 
#blob-content-row-4_2::after {
    bottom: 37.5%;
    right: 86%;
    rotate: 290deg;
    background-color: #E2F2F3;
}


.traditional-section .section-content {
    width: 64%;
}
.traditional-section a {
    width: fit-content;
}

.features .card {
    width: 180px;
}

.features .card .card-body img {
    width: 64px;
}

.operations {
    background: url(../assets/images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 15% 100%;
}

.benefits .card .card-body h5 {
    color: #3F444E;
}

.benefits .card .card-body .card-text {
    color: #6F6D77;
    font-size: 14px;
}

footer {
    background: radial-gradient(500px 470px at -2% 45%, #DD5E4A 0%, #191515 48%);
    margin: 0 !important;
    padding: 42px 32px 18px 32px;
}
.feature-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    color: rgba(255, 255, 255, 0.6);
}

footer .tel {
    font-size: 20px;
}

footer .tel a {
    margin-bottom: 0;
}

.form-control {
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-control:focus {
    border: 1px solid #DD5E4A;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.8);
}

label {
    margin-bottom: 8px;
}

.form-row .form-group {
    width: 47%;
}

@media screen and (min-width: 1579px) {
    .carousel-img-wrapper img {
        height: 56% !important;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: calc(48px + 1.5vw);
    }
    .blob-items::after {
        height: 60%;
    }
    .carousel-img-wrapper img {
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: calc(2rem + 1.5vw);
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: calc(46px + 1.5vw);
    }

    .carousel p {
        font-size: 22px;
    }

    .carousel li {
        font-size: 19px;
    }

    .section-content {
        font-size: 22px;
    }

    .blob-items::after {
        height: 50%;
        left: 47% !important;
    }

    .blob-items p {
        font-size: 16px !important;
        padding: 10px 8px;
    }

    #blob-item-row-4 {
        justify-content: space-between !important;
    }

    #blob-item-row-1 {
        gap: 3.5% !important;
    }

    #blob-item-row-2 {
        padding: 0 !important;
        gap: 6%;
    }

    #blob-item-row-3 {
        gap: 42% !important;
    }

    #blob-item-row-4 {
        gap: 0% !important;
    }

    #blob-content-row-3_2::after {
        right: 88% !important;
    }

    .feature-card {
        width: 150px !important;
    }

    .feature-card-body {
        padding: 24px 0;
    }

    footer .tel {
        font-size: 16px;
    }

    .tel a {
        font-size: 20px;
    }
    .operations {
        background-size: 40%;
        background-position: 1% 98%;
    }
}

@media screen and (max-width: 767.98px) {
    .section-content {
        font-size: 20px;
    }

    .blob-items::after {
        content: "";
        height: 40vh;
        width: 90%;
        position: relative;
        left: -3% !important;
        transform: translate(0%, 0%) !important;
    }

    #blob-item-row-1, 
    #blob-item-row-2, 
    #blob-item-row-3, 
    #blob-item-row-4 {
        justify-content: center !important;
        padding: 0 16px !important;
        gap: 4% !important ;
    } 

    .blob-items p::after {
        display: none;
    }
    .traditional-section .section-content {
        width: 80% !important;
    }

    .feature-card {
        width: 140px !important;
    }

    footer {
        padding: 32px 32px 16px 32px;
    }

    footer .footer-content {
        width: 100%;
    }

    footer h1 {
        text-align: center !important;
    }

    footer .tel {
        font-size: 14px;
    }

    .form-wrapper {
        width: 100%;
    }

    .operations {
        background-size: 36%;
        background-position: 1% 98%;
    }
    
    h3 {
        line-height: 100%;
    }

    .card-body + img {
        width: 100px;
    }
}

@media screen and (max-width: 575.98px) {
    .rms-logo {
        font-size: 24px;
    }

    h1 {
        font-size: calc(1.75rem + 1vw);
    }

    h2 {
        font-size: 28px;
    }

    .carousel p,
    .section-content {
        font-size: 18px;
    }

    .carousel li {
        font-size: 17px;
    } 

    .feature-card-body {
        padding: initial 0 !important;
    }
    
    .operations {
        background: none;
    }

    h5 {
       font-size: 1rem !important;
    }
    .card-text {
        font-size: 11px;
    }
    .card-body + img {
        width: 58px;
    }
    .card-body {
        padding: 4px 6px !important;
    }
    section a {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 376px) {
    h3 {
        font-size: calc(36px + 1.5vw);
    }
     h2 {
        font-size: 22px;
    }
    .logo {
        height: 28px;
        width: 28px;
    }

    .rms-logo {
        font-size: 18px;
        padding-left: 6px;
    }

    .carousel p,
    .section-content {
        font-size: 16px;
    }

    .carousel li {
        font-size: 15px;
    }

    .footer-copy {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .feature-card {
        width: 80% !important;
    }
}
